<div class="container">
  <h3 mat-dialog-title>Agregar Cliente</h3>
  <mat-dialog-content>
    <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

      <div class="form">
        <mat-form-field color="accent">
          <input matInput #input class="form-control" placeholder="Nombre" [(ngModel)]="data.nombre" name="nombre"
            required>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput #input class="form-control" placeholder="Apellido" [(ngModel)]="data.apellido" name="apellido"
            required>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <mat-label>Fecha Nacimiento</mat-label>
          <input matInput [matDatepicker]="picker" placeholder="01/01/2020" [(ngModel)]="data.nacimiento"
            [ngModelOptions]="{standalone: true}" (ngModelChange)="ageCalculate()" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput #input class="form-control" type="number" placeholder="Edad" [(ngModel)]="data.edad"
            name="edad" disabled>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()" tabindex="-1">Cancelar</button>
    <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="confirmAdd()">Guardar</button>
  </mat-dialog-actions>
</div>